.section {
	background: linear-gradient(135deg, rgba(#d7d7d7, 0.15), rgba(#d7d7d7, 0.05));
	backdrop-filter: blur(4px);
	margin-top: 80px;
	border-radius: 20px;
	box-shadow: 0 0 8px rgba(#141414, 1),
	0 0 8px rgba(#141414, 0.5),
	0 0 16px rgba(#141414, 0.25);

	&Wrapper {
		padding: 40px;
	}
}

@media (max-width: 576px) {
	.section {
		&Wrapper {
			padding: 20px;
		}
	}
}

@media (max-width: 414px) {
  .section {
    border-radius: 12px;

    &Wrapper {
			padding: 12px;
		}
  }
}

@media (max-width: 320px) {
  .section {
    border-radius: 8px;

    &Wrapper {
			padding: 8px;
		}
  }
}